.cart {
    background-color: khaki;
    padding: .5rem 2rem;
}

.cart-details {
    font-size: .8rem;
}

.cart h4 {
    color: red;
}

button {
    background-color: #ff9f43;
    border-radius: 10px;
    border: none;
    padding: .5em 4em;
}