.container {
    display: flex;
    margin: 0 2rem;
    justify-content: center;
}

.container-product {
    margin-right: 1rem;
}

.container-price {
    /* margin-left: 2rem; */
    border-left: 1px solid #b2bec3;
    padding-left: 2rem;
}